.page-list{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
    font-size: 20px;
  }
  .page-list li{
    cursor: pointer;
    transition: .2s;
  
  }
  /* Pagination Styling */
  
   .active,
   .page-list li:hover {
    padding: 10px 20px;
    background: #d84040;
    color: white;
    border-radius: 40px;
    transition: .2s;
  }
  

  @media (max-width:1100px) {
    .container{
        padding: 0;
    }
    
  }
  .page-list li:first-child{
    padding: 10px 20px;
    background: #d84040;
    color: white;
    border-radius: 10px;
  }
  .page-list li:last-child{
    padding: 10px 20px;
    background: #d84040;
    color: white;
    border-radius: 10px;
  }
  @media (max-width:400px) {
    .page-list{
      font-size: 16px;
    }
    
  }