.page-list{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
    margin-top: 2rem;
    font-size: 20px;
  }
  .page-list li{
    cursor: pointer;
  
  }
  /* Pagination Styling */
  
   .active {
    padding: 10px 20px;
    background: #d84040;
    color: white;
    font-weight: bold;
    border-radius: 40px;
  }

  @media (max-width:1100px) {
    .container{
        padding: 0;
    }
    
  }