@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tektur", sans-serif;
}

html {
  font-size: 55.5%;
}

body {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

h1 {
  font-size: 5.4rem;
  font-weight: bold;
  /* color: #000 !important; */
  text-align: center;
}

p,
span {
  font-size: 1.6rem;
}

li {
  list-style: none;
}

span {
  font-weight: bold;
}

.container {
  margin: auto;
  padding: 20px 100px;
}

.grid-three-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  text-align: center;
  margin: 3.2rem 0;
  align-items: end;
}

header {
  margin: 3.2rem 0;
}

input[type="text"] {
  appearance: none;
  border: none;
  outline: none;
  width: 32rem;
  border-bottom: 0.2em solid #020d35;
  background: rgba(#e91e63, 0.2);
  border-radius: 0.2em 0.2em 0 0;
  padding: 0.8em;
  font-size: 1.6rem;
  color: #000000;
  margin: 0 20px;
  -webkit-border-radius: 0.2em 0.2em 0 0;
  -moz-border-radius: 0.2em 0.2em 0 0;
  -ms-border-radius: 0.2em 0.2em 0 0;
  -o-border-radius: 0.2em 0.2em 0 0;
}
.dark-mode input[type="text"]{
  border-bottom: 0.2em solid #2ecc71;

}



/* ///////////////////////////////////////// */
.effect-container {
  width: 65rem;
  padding: 0 6.4rem;

  & h1 {
    margin-bottom: 3.2rem;
  }

  & p {
    margin-bottom: 1.6rem;
  }

  & span {
    font-weight: bold;
  }

  & button {
    padding: 0.6rem 1.6rem;
    font-size: 1.6rem;
    cursor: pointer;
    margin-bottom: 3.2rem;
    background-color: #2ecc71;
    border: none;
    color: #fff;
    border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
  }
}
.error-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}




.odometer {
  font-size: calc(2rem + 5vw);
}

.title {
  letter-spacing: 1.5px;
  line-height: 1.25;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #D84040;
  border-top: 5px solid transparent;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: transparent;
  animation: loading 1s linear infinite;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .1);
}

@keyframes loading {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
body.dark-mode {
  background-color: #1e1e1e;
  color: white;
}

.dark-mode .pokemon-card {
  background-color: #2a2a2a;
  border: 1px solid #444;
}


.dark-mode-toggle:hover {
  background: #666;
}




